#globalContextConfigForm * {
  font-size: 12px;
}

#globalContextConfigButtons {
  display: flex;
  justify-content: flex-end;
}

#globalContextConfigButtons button {
  font-size: 13px;
  margin-left: 20px;
}

.globalContextConfigForm fieldset {
  margin-top: 0;
}

.globalContextConfigForm input:disabled {
  color: var(--color-cccccc) !important;
}

.globalContextConfigForm input:disabled:hover {
  cursor: not-allowed;
}

#globalContextConfigForm legend {
  margin-bottom: 0;
  font-size: 14px;
}